.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin: 10px auto;
  box-shadow: 5px 5px 10px lightgrey;
  border-radius: 5px;
}
.inputField{
    width: '10%';
}

@media(max-width: 668px) {
  .container {
    width: 80%;
  }
}